{% extends 'web/header.html' %}
    {% block title %}
        {{title}}
    {% endblock %}
    {% block header_name %}
    {% if user %}
        Здравствуйте, {{user}}.
    {% else %}
        {{header_name}}
    {% endif %}
    {% endblock %}
    {% block content %}
        <div class="container">
            <form action="{% url 'home_new' %}" method="POST">
                {{form}}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Новый проект</button>
            </form>
            {% if projects %}
            {% for el in projects %}
                <div class="alert alert-warning mt-2">
                    <h3>id: {{el.id}} | {{el.title}}</h3>
                    <p> {{el.data}} </p>
                    <a href="home/del/{{el.id}}"><button name="reset" class="btn btn-danger">Удалить</button></a>
                    <a href="http://127.0.0.1:8080/"><button name="submit" class="btn btn-success">Изменить</button></a>
                </div>
            {% endfor %}
            {% else %}
                <p>Нет ранее созданнных проектов</p>
            {% endif %}
        </div>
    {% endblock %}