{% extends 'web/header.html' %}
    {% block title %}
        {{title}}
    {% endblock %}
    {% block header_name %}
    {% if user %}
        Здравствуйте, {{user}}.
    {% else %}
        {{header_name}}
    {% endif %}
    {% endblock %}
    {% block content %}
        <div class="container">
            {% if projects %}
            {% for el in projects %}
                <div class="alert alert-warning mt-2">
                    <h3>{{el.title}}</h3>
                    <p>{{el.project}}</p>
                </div>
            {% endfor %}
            {% else %}
                <p>Нет ранее созданнных проектов</p>
            {% endif %}
            <form action="{% url 'home_new' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Новый проект</button>
            </form>
        </div>
    {% endblock %}

<!--<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">{{ user }}</span>
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">Домашняя страница</a></li>
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Вход</a></li>
                </ul>
            </header>
        </div>


    </body>
</html>
-->