{% extends 'web/header.html' %}
    {% block title %}
        {{title}}
    {% endblock %}
    {% block header_name %}
        {{header_name}}
    {% endblock %}
    {% block content %}
        <div class="container">
            <p>Здравсвуйте дороги друзья. Это наше решение кейса от AGORA по созданию web-конструктора. На данный момент вы видите экран приветствия. Он вам расскажет как работает наш сайт.
            В первую очередь давайте обратим внимание на верхнюю панель. Она помогает нам ориентироваться в конструкторе. Я предлагаю вам нажать кнопку зарегистрироваться.</p>
        </div>
        {% if form %}
        <br>
        <div class="container">
            <form action="{% url 'register' %}" method="post">
                {{form}}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">submit</button>
            </form>
        </div>
        <br>
        {% endif %}
    {% endblock %}